doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Beberapa kota di Indonesia

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 Presentasi beberapa kota di Indonesia
      //Jayapura
      section
        h1 Jayapura, Papua
      section
        h2 Pendirian kota Jayapura
        h3 Kota Jaya Pura didirikan pada tahun 7 Maret 1910 oleh Kapten Infanteri F.J.P Sachses
      section
        h2.bullet Nama Kota Jayapura
        ul
          li Dari 1910 - 1962 pernah disebut sebagai Hollandia
          li Jaya artinya kemenangan
          li Pura artinya kota
          li Jayapura sama maknanya dengan Jaipur di Rajastan, India.
      section
        h2 Tokoh-tokoh dari Kota Jayapura
      section
        h3 Titus Bonai (pesepak bola, 26 tahun) (gambar)
        img(src ='images/20111122TITUSBONAI3.jpg')
        p sumber gambar: copyright ANTARA/Yudhi Mahatma dari http://img.antaranews.com/new/2011/11/ori/20111122TITUSBONAI3.jpg.
      section
        h3 Oktavianus Maniani (pesepak bola, 24 tahun)
        img(src ='images/20111122TITUSBONAI3.jpg')
      section
        h3 Lala Suwages (penyanyi R&B dan Jazz)
        img(src ='images/sp-l04-b_6.jpg')
        p Sumber Gambar: Copyright JP/Triwik Kurniasari dari http://www.thejakartapost.com/files/images2/sp-l04-b_6.jpg.
      section
        h3 Tokoh lain bisa dilihat dari: http://id.wikipedia.org/wiki/Kategori:Tokoh_dari_Jayapura
      section
        h3 Lambang kota Jayapura (gambar)
      section
        h2 Perkembangan Kota Jayapura
        ul
          li Pernah disinggahi Ynico Ortis De Fretes tahun 1954
          li Disinggahi oleh Alvaro Memdana Ne Neyra (1957) 
          li Disinggahi oleh Antonio Ma (1591 - 1593)
          li Didirikan oleh F. J. P. Sachses dari Kerajaan Belanda pada tahun 1910	    
      section
        h2 Perkembangan Kota Jayapura (lanjutan ...)
        ul
          li Diduduki Jepang pada tahun 1942
          li Sekutu mengusir Jepang dimulai sejak pendaratan Amfibi dekat Hollandia (21 Maret 1944)
          li Sempat menjadi Markas Jenderal Douglas MacArthur sampai penalukan Filipina (Maret 1945)
          li Nama kota sempat disebut Kota Baru dan Sukarnapura
          li Disebut Jayapura pada tahun 1968.
     
      section
        h2 Kependudukan
        ul
          li Jumlah penduduk: 272.544 orang
          li  Agama penduduk kota Jayapura: 146.843 orang (42,76%) Kristen, beragama Islam (33,54 %), Katolik 23,54%, dan sisanya beragama Hindu dan Buddha.
      section
        h2 Kependudukan (lanjutan)
        ul
          li Suku asli dan Bahasa daerah asli di Jayapura: Kayu Batu/ Kayu Pulau, Tobati/ Enggros, Nafri, Skouw 
          li Selain suku asli, banyak juga suku pendatang di Papua.
          li Pertambahan penduduk tahun 2013 terhadap tahun 2012 adalah 1.58 % (sumber: Papua dalam angka)
      section
        h2 Objek Pariwisata di Kota Jayapura
      section
        h3 Pantai Base G (gambar oleh Stanley Lam (Flickr), CC by 2.0, )
        img(src = 'images/base_g_beach_jayapura_by_Stenly_Lam.jpg')
      section
        h2 Kuliner
      section
        h2 Papeda
        img(src ='images/papeda.jpg')
        p (sumber gambar: papeda, all right reserved by jejak bocah hilang from https://jejakbocahilang.files.wordpress.com/2012/02/papeda.jpg
      section
        h2 Carabak
        img(src = 'images/carabak.jpg')
        p (sumber gambar: carabak all right reserved by Jejak bocah hilang from https://jejakbocahilang.files.wordpress.com/2012/02/carabak.jpg)
      section
        h2 Kelapa Muda Teluk Youtefa
        img(src = 'images/kelapa-muda-teluk-youtefa.jpg')
        p (sumber gambar: all right reserved by jejak bocah hilang from https://jejakbocahilang.files.wordpress.com/2012/02/kelapa-muda-teluk-youtefa.jpg
      section
        h2 Festival Tahunan
      section
        h3 Festival Danau Sentani 
        img(src = 'images/LOGO-FDS.jpg')
        p sumber logo:(c) all right reserved by from http://sentanilakefestival.com/logo/
      section
        h3 Danau Sentani
        img(src = 'images/Sentani_Lake.jpg')
        p sumber foto: "Sentani Lake" by Kiko Turteliny - Flickr: Sentani Lake. Licensed under CC BY 2.0 via Wikimedia Commons - https://commons.wikimedia.org/wiki/File:Sentani_Lake.jpg#/media/File:Sentani_Lake.jpg
       section
         h2 Transportasi
       section
         h2 Bandar Udara Sentani
         img(src = 'images/Sentani_airport2.jpg')
         p sumber gambar: "Sentani airport2" by Netaholic13 - Own work. Licensed under CC BY 3.0 via Wikimedia Commons - https://commons.wikimedia.org/wiki/File:Sentani_airport2.jpg#/media/File:Sentani_airport2.jpg
       section
         h2 Transportasi Darat
         h3 Terdapat bus jurusan Jayapura ke Vanimo - Papua Nugini.
       section
         h2 Referensi
         h3 
          
      
        
      
        
          

      section
        h2 Keyboard Interaction
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-keys">bespoke-keys</a>

      section
        h2 Touch Interaction
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-touch">bespoke-touch</a>

      section
        h2 Responsive Slides
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-scale">bespoke-scale</a>

      section
        h2 Bullet List
        h3.bullet Powered by <a href="https://github.com/markdalgleish/bespoke-bullets">bespoke-bullets</a>
        ul
          li Bullet 1
          li Bullet 2
          li Bullet 3

      section
        h2 Syntax Highlighting
        h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        pre
          code.language-javascript.
            bespoke.from('article', [
              classes(),
              keys(),
              touch(),
              bullets('li, .bullet')
            ]);

      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-backdrop">bespoke-backdrop</a>

      section
        h2.bullet Just the beginning...
        br
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        br
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    script(src='build/build.js')
