doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Presentasi Beberapa Kota di Indonesia

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article
      section
        h2 Pilih Kota:
        br
        ul
          li(style="display: inline;")
            a(href="#2") Jayapura   
            a(href="#34") Makassar  
            a(href="#46") Sibolga   
            a(href="#65") Yogjakarta  

      section.emphatic-text
        h2 Jayapura, Papua
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Pendirian kota Jayapura
        h3 Kota Jaya Pura didirikan pada tahun 7 Maret 1910 oleh Kapten Infanteri F.J.P Sachses
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2.bullet Nama Kota Jayapura
        ul
          li Dari 1910 - 1962 pernah disebut sebagai Hollandia
          li Jaya artinya kemenangan
          li Pura artinya kota
          li Jayapura sama maknanya dengan Jaipur di Rajastan, India.
      section.emphatic-text
        h2 Tokoh-tokoh dari Kota Jayapura
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h3 Titus Bonai (pesepak bola, 26 tahun)
        img(src ='images/20111122TITUSBONAI3.jpg')
        p Kredit Gambar: ANTARA/Yudhi Mahatma
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h3 Oktavianus Maniani (pesepak bola, 24 tahun)
        img(src ='images/Okto.jpg')
        p Kredit Gambar: "Okto" diunggah oleh Ciko, Wikipedia.com
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h3 Lala Suwages (penyanyi R&B dan Jazz)
        img(src ='images/sp-l04-b_6.jpg', syles='width:150px; height:300px')
        p Kredit Gambar: Jakarta Post/Triwik Kurniasari
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h3 Tokoh lain bisa dilihat dari: http://id.wikipedia.org/wiki/Kategori:Tokoh_dari_Jayapura
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h3 Lambang kota Jayapura
        img(src ='images/Lambang_Kota_Jayapura.jpeg', style = 'width:150px;height:200px;')
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Perkembangan Kota Jayapura
        ul.bullets
          li Pernah disinggahi Ynico Ortis De Fretes tahun 1954
          li Disinggahi oleh Alvaro Memdana Ne Neyra (1957) 
          li Disinggahi oleh Antonio Ma (1591 - 1593)
          li Didirikan oleh F. J. P. Sachses dari Kerajaan Belanda pada tahun 1910	    
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Perkembangan Kota Jayapura (lanjutan ...)
        ul
          li Diduduki Jepang pada tahun 1942
          li Sekutu mengusir Jepang dimulai sejak pendaratan Amfibi dekat Hollandia (21 Maret 1944)
          li Sempat menjadi Markas Jenderal Douglas MacArthur sampai penalukan Filipina (Maret 1945)
          li Nama kota sempat disebut Kota Baru dan Sukarnapura
          li Disebut Jayapura pada tahun 1968.
     
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Kependudukan
        ul
          li Jumlah penduduk: 272.544 orang
          li  Agama penduduk kota Jayapura: 146.843 orang (42,76%) Kristen, beragama Islam (33,54 %), Katolik 23,54%, dan sisanya beragama Hindu dan Buddha.
        br
        br
        p (sumber: Badan Pusat Statistik, 2015, hal. 51)
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Kependudukan (lanjutan)
        ul
          li Suku asli dan Bahasa daerah asli di Jayapura: Kayu Batu/ Kayu Pulau, Tobati/ Enggros, Nafri, Skouw (sumber: papua.go.id)
          li Pertambahan penduduk tahun 2013 terhadap tahun 2012 adalah 1.58 % (sumber: Badan Pusat Statistik, 2015, hal. 51)
      section
        h2 Objek Pariwisata di Kota Jayapura
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h3 Pantai Base G
        img(src = 'images/base_g_beach_jayapura_by_Stenly_Lam.jpg')
        p (Kredit Gambar: Stanley Lam, Flickr.com)
      section
        h2 Kuliner
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Papeda
        img(src ='images/papeda.jpg')
        p (Kredit gambar: Halim Santoso, jejak-bocahilang.com)
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Carabak
        img(src = 'images/carabak.jpg')
        p (Kredit gambar: Halim Santoso, jejak-bocahilang.com)
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Kelapa Muda Teluk Youtefa
        img(src = 'images/kelapa-muda-teluk-youtefa.jpg')
        p (Kredit gambar: Halim Santoso, jejak-bocahilang.com)
      section
        h2 Festival Tahunan
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h3 Festival Danau Sentani 
        img(src = 'images/LOGO-FDS.jpg')
        p (Kredit logo: sentanilakefestival.com/logo)
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h3 Danau Sentani
        img(src = 'images/Sentani_Lake.jpg')
        p Kredit Gambar: "Sentani Lake" by Kiko Turteliny - Flickr: Sentani Lake, CC BY 2.0 via Wikimedia Commons
      section
        h2 Transportasi
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Bandar Udara Sentani
        img(src = 'images/Sentani_airport2.jpg')
        br
        p Kredit Gambar: "Sentani airport2" by Netaholic13, CC BY 3.0, via Wikimedia Commons
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Transportasi Darat
        h3 Terdapat bus jurusan Jayapura ke Vanimo - Papua Nugini.
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Referensi (untuk Jayapura)
        h4 Kecuali disebutkan lain, seluruh material dan fakta tentang Kota Jayapura dikutip secara langsung atau tidak langsung dari http://id.wikipedia.org/wiki/Kota_Jayapura dari en.wikipedia.org/wiki/Jayapura.   
      section
        h2 Referensi (lain)(untuk Jayapura):
        ul
          li(style='text-align:justify;') Badan Pusat Statistik Kota Jayapura, Kota Jayapura dalam Angka 2014, situs: http://jayapurakota.bps.go.id/jayapurakota_backend/flipping_publikasi/KOTA-JAYAPURA-DALAM-ANGKA-2014-/indexFlip.php
          
          li(style='text-align:justify;') Suku-suku dan Bahasa Daerah Asli Papua, situs web: (https://www.papua.go.id/view-detail-page-8/suku-bangsa-%28etnis%29-dan-bahasa-daerah.html)
          
      section
        h2 Sumber Gambar (untuk Jayapura): 
        h3 (berdasarkan urutan di slide)
        h3 Foto Titus Bonai,  copyright ANTARA/Yudhi Mahatma, situs web: http://img.antaranews.com/new/2011/11/ori/20111122TITUSBONAI3.jpg
          
      section
        h3  Foto Oktavianus Maniani: "Okto" by Karya sendiri. Licensed under CC BY-SA 3.0 via Wikipedia - http://id.wikipedia.org/wiki/Berkas:Okto.jpg#/media/File:Okto.jpg (diunggah oleh Ciko On Wikipedia)
        h3 Foto Lala Suwages, copyright by JP/Triwik Kurniasari, sumber: http://www.thejakartapost.com/files/images2/sp-l04-b_6.jpg.
      section
        h3 Foto Pantai Base-G oleh Stanley Lam, CC by 2.0, sumber: https://www.flickr.com/photos/stenlylam/6193611272/sizes/o/
        h3 Foto Papeda, copyright by Halim Santoso, sumber: https://jejakbocahilang.files.wordpress.com/2012/02/papeda.jpg
      section  
        h3 Foto Carabak, copyright by Halim Santoso, sumber: https://jejakbocahilang.files.wordpress.com/2012/02/carabak.jpg
        h3 Foto Kelapa muda teluk youtefa, copyright by Halim Santoso, sumber: https://jejakbocahilang.files.wordpress.com/2012/02/kelapa-muda-teluk-youtefa.jpg
        h3 Logo FDS, copyright by Sentani Lake Festival, sumber: http://sentanilakefestival.com/logo/
      section        
        h3 Foto Danau Sentani: "Sentani Lake" by Kiko Turteliny - Flickr: Sentani Lake. Licensed under CC BY 2.0 via Wikimedia Commons - https://commons.wikimedia.org/wiki/File:Sentani_Lake.jpg#/media/File:Sentani_Lake.jpg
        h3 Sumber gambar Bandara Sentani, "Sentani airport2" by Netaholic13 - Own work. Licensed under CC BY 3.0 via Wikimedia Commons - https://commons.wikimedia.org/wiki/File:Sentani_airport2.jpg#/media/File:Sentani_airport2.jpg
        h4 Kembali ke 
          a(href="#1") halaman depan.
      section
        h2 Sejarah Kota Makassar
        P h6 Kota Makassar (Makassar:dari 1971 hingga 1999 secara resmi dikenal sebagai Ujung Pandang) adalah ibu kota provinsi Sulawesi Selatan.
      

      section
        h2 Nama dan Lambang Kota
        h6 Kota Makassar sama dengan Kota Daeng
        h6 Semboyan: Sekali Layar Terkembang
        h6 Pantang Biduk Surut Ke Pantai


      section
        h2 Tokoh-Tokoh dari Makassar
        h6 Iskandar Machmud
        h6 Prof. Andi Abdul Muis
        h6 Prof. Ahmad Amiruddin
        h6 Drs. H. Muhammad Rum Nessa, S.H., M.H.
        h6 Prof. Dr. H. Nasaruddin Umar, M.A.
        h6 Prof. DR. Hj. Musda Mulia, M.A.


      section
        h2 Jumlah Peduduk
        
        li Tahun 1971 : 434.766 
        li Tahun 1980 : 708.465
        li Tahun 1990 : 944.372
        li Tahun 2000 : 1.130.384
        li Tahun 2008 : 1.253.656
        li Tahun 2009 : 1.272.394
        li Tahun 2010 : 1.338.663
        li Tahun 2014 : 1.398.804

      section
        h2 Perkembangan Kota
        h6 Dalam perkembangannya, komunitas ini berkembang dan membentuk beberapa kerajaan. Masyarakat ini kemudian mengembangkan kebudayaan, bahasa, aksara, dan pemerintahan mereka sendiri. Beberapa kerajaan Bugis klasik antara lain Luwu, Bone, Wajo, Soppeng, Suppa, Sawitto, Sidenreng dan Rappang. Meski tersebar dan membentuk suku Bugis, tapi proses pernikahan menyebabkan adanya pertalian darah dengan Makassar dan Mandar. 

      section
        h3 Suku dan Agama Yang Mendiami 
        h6 Makassar merupakan kota yang multi etnis Penduduk Makassar kebanyakan dari Suku Makassar dan Suku Bugis sisanya berasal dari suku Toraja, Mandar, Buton, Tionghoa, Jawa dan sebagainya
        h6 Agama penduduk kota Makassar adalah Islam menjadi agama utama diwilayah tersebut, namun agama lain seperti Kristen , Hindu dan Budha terdapat juga di Kota Makassar

      section(data-bespoke-hash='named-route')
        h2 Bahasa Kota Makassar
        h6 Bahasa Makassar, juga disebut sebagai Basa Mangkasara' adalah bahasa yang dituturkan oleh suku Makassar, penduduk Sulawesi Selatan, Indonesia.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Mata Pencaharian
        h6 Karena masyarakat Bugis tersebar di dataran rendah yang subur dan pesisir, maka kebanyakan dari masyarakat Bugis hidup sebagai petani dan nelayan. 
        h6 Mata pencaharian lain yang diminati orang Bugis adalah pedagang.

      section
        h2 Objek Wisata
        li Pulau Khayangan
        li Pulau Lae-Lae
        li Pantai Losari
        li Pantai Akarena
        li Fort Rotterdam
        li Makam Raja-Raja Tallo

      section
        h2 Makanan dan Minuman Khas
        li Konro
        li Sop Ubi
        li Coto Makassar
        li Kapurung
        li Roko-Roko Unti
        li Putu Cangkiri

      section
        h2 Seni Budaya
        li Atraksi Permainan Tradisional "Ma'raga"
        li Atraksi Permainan Rakyat "Mappadendang"
        li Tarian Magis "Pepe-pepeki ri Makka"
        li Tarian Ritual Bissu "Ma'giri"
        li Tarian-tarian Tradisional seperti Tari Pakarena

      section
        h2 Moda Transportasi
        li Laut
          h6 Litografi pelabuhan Makassar (1883-1889)
        li Darat
          h6 Pete - Pete
            h6 Bus
             h6 Taksi
        li Udara
          h6 Kota Makassar mempunyai sebuah bandara internasional, Bandar Udara Internasional Sultan Hasanuddin
          h4 Kembali ke 
            a(href="#1") halaman depan.
      section(style="background-image:url('images/sibolga.jpg');")

        h1 KOTA SIBOLGA
          
      section
        ul
          li
            h2 Sejarah Kota Sibolga
          li Kota Sibolga didirikan pada tahun 1700 oleh Raja Luka Hutagalung gelar Tuanku Dorong
          li  Pada 12 oktober 1998 melalui diselenggarakanya seminar  sehari sebagai penetapan Hari Jadi Sibolga
      section
        h2.bullet Arti dan Lambang Kota Sibolga
      section  
        img(src='images/Lambang_Kota_Sibolga (1).png',style='width:500px; height:300px;')
      section  
        ul
          li Lambang berbentuk lingkaran dua tangkai daun kelapa dipertemukan bintang bersegi lima yang berwarna kuning.
          li Bintang bersudut lima menggambarkan sila-sila dari Pancasila
          li Lima Biji bambu runcing diikat dengan pita yang berwarna merah putih berisikan
          li Lima biji bambu runcing terikat pita yang merah putih membawakan jiwa kepahlawanan masyarakat dengan bersih dan berani dalam barisan kesatuan
          li Dua daun yang hijau kelapa membawakan cita-cita masyarakat yang selalu hidup rukun dan damai dengan Ridho Tuhan
          li Pulau-pulau bersama gunung-gunungnya membawakan jiwa masyarakat untuk membangun kotanya

      section
        h2 Tokoh-tokoh dari Kota Sibolga
      section
        h3 Mufidah jusuf kalla (istri presiden RI jusuf kalla)
        img(src='images/Mufidah_Kalla.jpg')
        
      section
        h3 Rinto Harahap ( Musisi Indonesia)
        img(src='images/B7bJtRJWHN.jpg')
      section
        h3 Tokoh lain bisa dilihat dari: http://id.wikipedia.org/wiki/Kota_Sibolga
     
      section
        h2 Kependudukan
      section  
        ul
          li Jumlah penduduk: 84.481 jiwa
          li Agama penduduk kota Sibolga : Mayoritas Islam,kristen,katolik dan budha
          li Suku penduduk kota sibolga : Mandailing, Batak Toba, Minangkabau, Melayu, Jawa, Tionghoa
          li Bahasa penduduk kota Sibolga : Bahasa Indonesia, Bahasa Batak, Bahasa Nias, dan Bahasa Minangkabau
      section
        h2 Objek Pariwisata di Kota Sibolga
      section
        h3 Pulau Mursala
        img(src='images/pulau mursala.jpg',style='width:500px; height:300px;')
      section  
        h3 Pulau Putri
        img(src='images/putri.jpg',style='width:500px; height:300px;')
      section  
        img(src='images/putri1.jpg',style='width:500px; height:300px;')
      section  
        h3 Pulau Poncan
        img(src='images/poncan.jpg',style='width:500px; height:300px;')
      section  
        h3 Pantai Bosur
        img(src='images/bosur.jpg',style='width:500px; height:300px;')
      section  
        img(src='images/bosur1.jpg',style='width:500px; height:300px;')
      section
        h2 Kuliner
      section
        h2 Ikan Sambam
        img(src='images/ikan sambam.jpg',style='width:500px; height:300px;')
      section
        h2 Ikan Panggang Geleng
        img(src='images/panggang geleng.jpg',style='width:500px; height:300px;')
      section
        h2 Ikan panggang Pacak
        img(src='images/panggang pacak.jpg',style='width:500px; height:300px;')
       section
         h2 Transportasi
       section
         h2 Bandar Udara Ferdinand Lumbantobing
         img(src='images/pinang-sori.jpg',style='width:500px; height:300px;')

       section
        ul
         li 
          h2 Transportasi Darat
         li 
          h2 Transportasi Laut
      section
        h2 Perekonomian
        ul
         li Masyarakat Sibolga lebih banyak bermata pencarian di perikanan.
         li Potensi utama perekonomian bersumber dari perikanan,pariwisata, jasa, perdagangan dan industri maritim. Hasil utama perikanan, antara lain, kerapu, tuna, kakap, kembung, bambangan, layang, sardines, lencam dan teri.
      section   
         h3 Gambar kegiatan perekonomian
         img(src='images/ekonomisibolga.jpg',style='width:500px; height:300px;')
      section   
         img(src='images/kegiatan_di_tangkahan_27651.jpg',style='width:500px; height:300px;')
      section   
         img(src='images/kegiatansibolga.jpg',style='width:500px; height:300px;')

      section
        h4 Kembali ke 
            a(href="#1") halaman depan.
      section
        h1 Yogya Bung
        img(src ='images/yogya.jpg')
      section
        h1 Yogya Bung
        img(src ='images/yogya.jpg')
      section
        h2 pendirian kota yogyakarta
        ul
         li kota yogyakarta di dirikan pada 13 Maret 1755
         li Sultan Hamengku Buwana I memproklamirkan berdirinya Kasultanan Ngayogyakarta Hadiningrat dengan ibukota Ngayogyakarta dan memiliki separuh dari wilayah Kerajaan Mataram

      section
        h1 lambang dan Arti nama Yogyakarta 
      section
        h2 lambang

      section
          ul
             li yaitu Ayogya atau 'Ayodhya' yang berarti "kedamaian"(tanpa perang) 
             li yogya merujuk pada yodya atau yudha, yang berarti "perang")
             li arta yang berarti "baik



      section
        h1 Yogya Bung
        img(src ='images/yogya.jpg', style='width:600px; height:600px;')
      section
        h2 pendirian kota yogyakarta
        ul
         li kota yogyakarta di dirikan pada 13 Maret 1755
         li Sultan Hamengku Buwana I memproklamirkan berdirinya Kasultanan Ngayogyakarta Hadiningrat dengan ibukota Ngayogyakarta dan memiliki separuh dari wilayah Kerajaan Mataram

      section
        h1 lambang dan Arti nama Yogyakarta 
      section
        h2 lambang
        img(src ='images/180px-Yogyakarta_COA.svg.png', style='width:320px; height:380px;')

      section
          ul
             li yaitu Ayogya atau 'Ayodhya' yang berarti "kedamaian"(tanpa perang) 
             li yogya merujuk pada yodya atau yudha, yang berarti "perang")
             li arta yang berarti "baik



      section
        h1 Tokoh besar yogyakarta
      section
        h2 JENDRAL SOESILO SOEDARMAN
        img(src ='images/220px-Soesilo-S.png', style='width:350px; height:380px;')
      section
        h2 KI.HAJAR DEWANTORO
        img(src ='images/hajar_dewantoro1.jpg', style='width:350px; height:420px;')
      section
        h2 RADEN MAS MARGONO JOYOHADIKUSUMO
        img(src ='images/Margono.jpg', style='width:350px; height:380px;')
      section
        h2 JENDRAL GATOT SUBROTO
        img(src ='images/Jenderal-Gatot-Subroto.jpg', style='width:350px; height:420px;')

      section
        h1 perkembangan yogyakarta
      section
          ul
            li dimulai dari adanya kraton sebagai pusat pemerintahan
            li bermunculannya penguruan-perguruan tinggi ataupun swasta
            li jalan lintas kota
            li fasilitas 

      section
        h2 Kependudukan
        ul 
          li jumlah penduduk 3.452.390
          li proporsi 1.705.404 laki-laki
          li  1.746.986 perempuan
      sectiion
        h2 bahasa yang digunakan masyarakat
        ul
          li Bahasa jawa ngoko (kasar)
          li Bahasa jawa madya (biasa)
          li Bahasa jawa krama (halus)
          li Penduduk DIY mayoritas beragama Islam yaitu sebesar 90,96%, selebihnya beragama Kristen, Katholik, Hindu, Budha
        

      section
        h1 Objek wisata kota Yogyakarta
      section
        h2 candi borobudur
        img(src ='images/borobudur.jpg', style='width:355px; height:450px;')
      section
        h2 candi prambanan
        img(src ='images/Prambanan.jpg', style='width:355px; height:500px;')
      section
        h2 pantai baron
        img(src ='images/pantai-baron1.jpg', style='width:355px; height:500px;')
      section
        h2 goa selarong
        img(src ='images/selarong.jpg', style='width:480px; height:500px;')

      section
        h2 Kuliner
      section
        h2  Gudeg Pawon
         img(src ='images/gudeg-pawon.jpg', style='width:450px; height:400px;')
      section
        h2 Nasi Goreng Beringharjo
         img(src ='images/nasi-goreng-beringharjo.jpg', style='width:450px; height:400px;')
      section
        h2 Sate Klathak
         img(src ='images/sate-klatak.jpg', style='width:450px; height:400px;')
      section
        h2 Kalimilk 
         img(src ='images/kalimilk-jogja.jpg', style='width:450px; height:400px;')

      section
        h2 Festifal tahunan
      section
        h2 Kesenian Yogyakarta
        img(src ='images/festival-kesenian-yogyakarta.jpg', style='width:480px; height:500px;')
      section
        h2 Layang-layang
        img(src ='images/festival-layang-layang.jpg', style='width:480px; height:500px;')
      section
        h2 asia tri yogyakarta
        img(src ='images/twit poster atj 2014.jpg', style='width:480px; height:500px;')
        h4 Kembali ke 
            a(href="#1") halaman depan.
          

      


    script(src='build/build.js')
