doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Hello World

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

       section
        h2.Presentasi Beberapa Kota di Indonesia, Pilih Kota:
        br
        ul
          li a(href="jayapura.html") Jayapura
          li a(href="jogjakarta.html") Jogjakarta
          li a(href="makassar.html") Makassar
          li a(href="sibolga.html") Sibolga
        br

      


    script(src='build/build.js')
