doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Beberapa kota di Indonesia

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      //Jayapura
      section.emphatic-text
        h2 Jayapura, Papua
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Pendirian kota Jayapura
        h3 Kota Jaya Pura didirikan pada tahun 7 Maret 1910 oleh Kapten Infanteri F.J.P Sachses
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2.bullet Nama Kota Jayapura
        ul
          li Dari 1910 - 1962 pernah disebut sebagai Hollandia
          li Jaya artinya kemenangan
          li Pura artinya kota
          li Jayapura sama maknanya dengan Jaipur di Rajastan, India.
      section.emphatic-text
        h2 Tokoh-tokoh dari Kota Jayapura
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h3 Titus Bonai (pesepak bola, 26 tahun)
        img(src ='images/20111122TITUSBONAI3.jpg')
        p Kredit Gambar: ANTARA/Yudhi Mahatma
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h3 Oktavianus Maniani (pesepak bola, 24 tahun)
        img(src ='images/Okto.jpg')
        p Kredit Gambar: "Okto" diunggah oleh Ciko, Wikipedia.com
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h3 Lala Suwages (penyanyi R&B dan Jazz)
        img(src ='images/sp-l04-b_6.jpg', syles='width:150px; height:300px')
        p Kredit Gambar: Jakarta Post/Triwik Kurniasari
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h3 Tokoh lain bisa dilihat dari: http://id.wikipedia.org/wiki/Kategori:Tokoh_dari_Jayapura
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h3 Lambang kota Jayapura
        img(src ='images/Lambang_Kota_Jayapura.jpeg', style = 'width:150px;height:200px;')
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Perkembangan Kota Jayapura
        ul.bullets
          li Pernah disinggahi Ynico Ortis De Fretes tahun 1954
          li Disinggahi oleh Alvaro Memdana Ne Neyra (1957) 
          li Disinggahi oleh Antonio Ma (1591 - 1593)
          li Didirikan oleh F. J. P. Sachses dari Kerajaan Belanda pada tahun 1910	    
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Perkembangan Kota Jayapura (lanjutan ...)
        ul
          li Diduduki Jepang pada tahun 1942
          li Sekutu mengusir Jepang dimulai sejak pendaratan Amfibi dekat Hollandia (21 Maret 1944)
          li Sempat menjadi Markas Jenderal Douglas MacArthur sampai penalukan Filipina (Maret 1945)
          li Nama kota sempat disebut Kota Baru dan Sukarnapura
          li Disebut Jayapura pada tahun 1968.
     
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Kependudukan
        ul
          li Jumlah penduduk: 272.544 orang
          li  Agama penduduk kota Jayapura: 146.843 orang (42,76%) Kristen, beragama Islam (33,54 %), Katolik 23,54%, dan sisanya beragama Hindu dan Buddha.
        br
        br
        p (sumber: Badan Pusat Statistik, 2015, hal. 51)
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Kependudukan (lanjutan)
        ul
          li Suku asli dan Bahasa daerah asli di Jayapura: Kayu Batu/ Kayu Pulau, Tobati/ Enggros, Nafri, Skouw (sumber: papua.go.id)
          li Pertambahan penduduk tahun 2013 terhadap tahun 2012 adalah 1.58 % (sumber: Badan Pusat Statistik, 2015, hal. 51)
      section
        h2 Objek Pariwisata di Kota Jayapura
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h3 Pantai Base G
        img(src = 'images/base_g_beach_jayapura_by_Stenly_Lam.jpg')
        p (Kredit Gambar: Stanley Lam, Flickr.com)
      section
        h2 Kuliner
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Papeda
        img(src ='images/papeda.jpg')
        p (Kredit gambar: Halim Santoso, jejak-bocahilang.com)
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Carabak
        img(src = 'images/carabak.jpg')
        p (Kredit gambar: Halim Santoso, jejak-bocahilang.com)
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Kelapa Muda Teluk Youtefa
        img(src = 'images/kelapa-muda-teluk-youtefa.jpg')
        p (Kredit gambar: Halim Santoso, jejak-bocahilang.com)
      section
        h2 Festival Tahunan
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h3 Festival Danau Sentani 
        img(src = 'images/LOGO-FDS.jpg')
        p (Kredit logo: sentanilakefestival.com/logo)
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h3 Danau Sentani
        img(src = 'images/Sentani_Lake.jpg')
        p Kredit Gambar: "Sentani Lake" by Kiko Turteliny - Flickr: Sentani Lake, CC BY 2.0 via Wikimedia Commons
       section
         h2 Transportasi
       section.emphatic-text(data-bespoke-backdrop='emphatic')
         h2 Bandar Udara Sentani
         img(src = 'images/Sentani_airport2.jpg')
         br
         p Kredit Gambar: "Sentani airport2" by Netaholic13, CC BY 3.0, via Wikimedia Commons
       section.emphatic-text(data-bespoke-backdrop='emphatic')
         h2 Transportasi Darat
         h3 Terdapat bus jurusan Jayapura ke Vanimo - Papua Nugini.
       section.emphatic-text(data-bespoke-backdrop='emphatic')
         h2 Referensi
         h4 Kecuali disebutkan lain, seluruh material dan fakta tentang Kota Jayapura dikutip secara langsung atau tidak langsung dari http://id.wikipedia.org/wiki/Kota_Jayapura dari en.wikipedia.org/wiki/Jayapura.   
       section
         h2 Referensi (lain):
         ul
          li(style='text-align:justify;') Badan Pusat Statistik Kota Jayapura, Kota Jayapura dalam Angka 2014, situs: http://jayapurakota.bps.go.id/jayapurakota_backend/flipping_publikasi/KOTA-JAYAPURA-DALAM-ANGKA-2014-/indexFlip.php
          
          li(style='text-align:justify;') Suku-suku dan Bahasa Daerah Asli Papua, situs web: (https://www.papua.go.id/view-detail-page-8/suku-bangsa-%28etnis%29-dan-bahasa-daerah.html)
          
        section
          h2 Sumber Gambar: 
          h3 (berdasarkan urutan di slide)
          h3 Foto Titus Bonai,  copyright ANTARA/Yudhi Mahatma, situs web: http://img.antaranews.com/new/2011/11/ori/20111122TITUSBONAI3.jpg
          
        section
          h3  Foto Oktavianus Maniani: "Okto" by Karya sendiri. Licensed under CC BY-SA 3.0 via Wikipedia - http://id.wikipedia.org/wiki/Berkas:Okto.jpg#/media/File:Okto.jpg (diunggah oleh Ciko On Wikipedia)
          h3 Foto Lala Suwages, copyright by JP/Triwik Kurniasari, sumber: http://www.thejakartapost.com/files/images2/sp-l04-b_6.jpg.
        section
          h3 Foto Pantai Base-G oleh Stanley Lam, CC by 2.0, sumber: https://www.flickr.com/photos/stenlylam/6193611272/sizes/o/
          h3 Foto Papeda, copyright by Halim Santoso, sumber: https://jejakbocahilang.files.wordpress.com/2012/02/papeda.jpg
        section  
          h3 Foto Carabak, copyright by Halim Santoso, sumber: https://jejakbocahilang.files.wordpress.com/2012/02/carabak.jpg
          h3 Foto Kelapa muda teluk youtefa, copyright by Halim Santoso, sumber: https://jejakbocahilang.files.wordpress.com/2012/02/kelapa-muda-teluk-youtefa.jpg
        section
          h3 Logo FDS, copyright by Sentani Lake Festival, sumber: http://sentanilakefestival.com/logo/
          h3 Foto Danau Sentani: "Sentani Lake" by Kiko Turteliny - Flickr: Sentani Lake. Licensed under CC BY 2.0 via Wikimedia Commons - https://commons.wikimedia.org/wiki/File:Sentani_Lake.jpg#/media/File:Sentani_Lake.jpg
          h3 Sumber gambar Bandara Sentani, "Sentani airport2" by Netaholic13 - Own work. Licensed under CC BY 3.0 via Wikimedia Commons - https://commons.wikimedia.org/wiki/File:Sentani_airport2.jpg#/media/File:Sentani_airport2.jpg     
        
    script(src='build/build.js')
