doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Hello World

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 Makassar

      section
        h2 Sejarah Kota Makassar
        P h6 Kota Makassar (Makassar:dari 1971 hingga 1999 secara resmi dikenal sebagai Ujung Pandang) adalah ibu kota provinsi Sulawesi Selatan.
      

      section
        h2 Nama dan Lambang Kota
        h6 Kota Makassar sama dengan Kota Daeng
        h6 Semboyan: Sekali Layar Terkembang
        h6 Pantang Biduk Surut Ke Pantai


      section
        h2 Tokoh-Tokoh dari Makassar
        h6 Iskandar Machmud
        h6 Prof. Andi Abdul Muis
        h6 Prof. Ahmad Amiruddin
        h6 Drs. H. Muhammad Rum Nessa, S.H., M.H.
        h6 Prof. Dr. H. Nasaruddin Umar, M.A.
        h6 Prof. DR. Hj. Musda Mulia, M.A.


      section
        h2 Jumlah Peduduk
        
        li Tahun 1971 : 434.766 
        li Tahun 1980 : 708.465
        li Tahun 1990 : 944.372
        li Tahun 2000 : 1.130.384
        li Tahun 2008 : 1.253.656
        li Tahun 2009 : 1.272.394
        li Tahun 2010 : 1.338.663
        li Tahun 2014 : 1.398.804

      section
        h2 Perkembangan Kota
        h6 Dalam perkembangannya, komunitas ini berkembang dan membentuk beberapa kerajaan. Masyarakat ini kemudian mengembangkan kebudayaan, bahasa, aksara, dan pemerintahan mereka sendiri. Beberapa kerajaan Bugis klasik antara lain Luwu, Bone, Wajo, Soppeng, Suppa, Sawitto, Sidenreng dan Rappang. Meski tersebar dan membentuk suku Bugis, tapi proses pernikahan menyebabkan adanya pertalian darah dengan Makassar dan Mandar. 

      section
        h3 Suku dan Agama Yang Mendiami 
        h6 Makassar merupakan kota yang multi etnis Penduduk Makassar kebanyakan dari Suku Makassar dan Suku Bugis sisanya berasal dari suku Toraja, Mandar, Buton, Tionghoa, Jawa dan sebagainya
        h6 Agama penduduk kota Makassar adalah Islam menjadi agama utama diwilayah tersebut, namun agama lain seperti Kristen , Hindu dan Budha terdapat juga di Kota Makassar

      section(data-bespoke-hash='named-route')
        h2 Bahasa Kota Makassar
        h6 Bahasa Makassar, juga disebut sebagai Basa Mangkasara' adalah bahasa yang dituturkan oleh suku Makassar, penduduk Sulawesi Selatan, Indonesia.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Mata Pencaharian
        h6 Karena masyarakat Bugis tersebar di dataran rendah yang subur dan pesisir, maka kebanyakan dari masyarakat Bugis hidup sebagai petani dan nelayan. 
        h6 Mata pencaharian lain yang diminati orang Bugis adalah pedagang.

      section
        h2 Objek Wisata
        li Pulau Khayangan
        li Pulau Lae-Lae
        li Pantai Losari
        li Pantai Akarena
        li Fort Rotterdam
        li Makam Raja-Raja Tallo

      section
        h2 Makanan dan Minuman Khas
        li Konro
        li Sop Ubi
        li Coto Makassar
        li Kapurung
        li Roko-Roko Unti
        li Putu Cangkiri

      section
        h2 Seni Budaya
        li Atraksi Permainan Tradisional "Ma'raga"
        li Atraksi Permainan Rakyat "Mappadendang"
        li Tarian Magis "Pepe-pepeki ri Makka"
        li Tarian Ritual Bissu "Ma'giri"
        li Tarian-tarian Tradisional seperti Tari Pakarena

      section
        h2 Moda Transportasi
        li Laut
          h6 Litografi pelabuhan Makassar (1883-1889)
        li Darat
          h6 Pete - Pete
            h6 Bus
             h6 Taksi
        li Udara
          h6 Kota Makassar mempunyai sebuah bandara internasional, Bandar Udara Internasional Sultan Hasanuddin




      section
        h2.Objek
        br
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        br
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    script(src='build/build.js')