doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Beberapa kota di Indonesia

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 Presentasi beberapa kota di Indonesia
      //Sibolga
      section
        h1 Sibola
      section
        h2 Pendirian kota Sibolga
        h3 Kota Sibolga didirikan pada tahun 1700 oleh Raja Luka Hutagalung gelar Tuanku Dorong
        h4 Pada 12 oktober 1998 melalui diselenggarakanya seminar  sehari sebagai penetapan Hari Jadi Sibolga
      section
        h2.bullet Arti dan Lambang Kota Sibolga
        img(src='images/Lambang_Kota_Sibolga (1).png')
        ul
          li Lambang berbentuk lingkaran dua tangkai daun kelapa dipertemukan bintang bersegi lima yang berwarna kuning.
          li Bintang bersudut lima menggambarkan sila-sila dari Pancasila
          li Lima Biji bambu runcing diikat dengan pita yang berwarna merah putih berisikan
          li Lima biji bambu runcing terikat pita yang merah putih membawakan jiwa kepahlawanan masyarakat dengan bersih dan berani dalam barisan kesatuan
          li Dua daun yang hijau kelapa membawakan cita-cita masyarakat yang selalu hidup rukun dan damai dengan Ridho Tuhan
          li Pulau-pulau bersama gunung-gunungnya membawakan jiwa masyarakat untuk membangun kotanya

      section
        h2 Tokoh-tokoh dari Kota Sibolga
      section
        h3 Mufidah jusuf kalla (istri presiden RI jusuf kalla) (gambar)
        img(src='images/Mufidah_Kalla.jpg')
        
      section
        h3 Rinto Harahap ( Musisi Indonesia)
        img(src='images/B7bJtRJWHN.jpg')
      section
        h3 Tokoh lain bisa dilihat dari: http://id.wikipedia.org/wiki/Kota_Sibolga
     
      section
        h2 Kependudukan
        ul
          li Jumlah penduduk: 84.481 jiwa
          li Agama penduduk kota Sibolga : Mayoritas Islam,kristen,katolik dan budha
          li Suku penduduk kota sibolga : Mandailing, Batak Toba, Minangkabau, Melayu, Jawa, Tionghoa
          li Bahasa penduduk kota Sibolga : Bahasa Indonesia, Bahasa Batak, Bahasa Nias, dan Bahasa Minangkabau
      section
        h2 Objek Pariwisata di Kota Sibolga
      section
        h3 Pulau Mursala
        img(src='images/pulau mursala.jpg')
        h3 Pulau Putri
        img(src='image/pulau putri.jpg')
        img(src='image/pulau putri1.jpg')
        h3 Pulau Poncan
        img(src ='image/pulau poncan.jpg')
        h3 Pantai Bosur
        img(src ='image/pantaibosur1.jpg')
        img(src ='image/pantai bosur.jpg')
      section
        h2 Kuliner
      section
        h2 Ikan Sambam
        img(src='images/ikan sambam.jpg')
      section
        h2 Ikan Panggang Geleng
        img(src='images/panggang geleng.jpg')
      section
        h2 Ikan panggang Pacak
        img(src='images/panggang pacak.jpg')
       section
         h2 Transportasi
       section
         h2 Bandar Udara Ferdinand Lumbantobing
         img(src='images/pinang-sori.jpg')
       section
         h2 Transportasi Darat
         h3 Transportasi Laut
      section
        h2 Perekonomian
         h3 Masyarakat Sibolga lebih banyak bermata pencarian di perikanan.
         h3 Potensi utama perekonomian bersumber dari perikanan,pariwisata, jasa, perdagangan dan industri maritim. Hasil utama perikanan, antara lain, kerapu, tuna, kakap, kembung, bambangan, layang, sardines, lencam dan teri.
         h3 Gambar kegiatan perekonomian
         img(src='images/ekonomisibolga.jpg')
         img(src='images/kegiatan_di_tangkahan_27651.jpg')
         img(src='images/kegiatansibolga.jpg')

          
    
        
      
        
          

      section
        h2 Keyboard Interaction
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-keys">bespoke-keys</a>

      section
        h2 Touch Interaction
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-touch">bespoke-touch</a>

      section
        h2 Responsive Slides
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-scale">bespoke-scale</a>

      section
        h2 Bullet List
        h3.bullet Powered by <a href="https://github.com/markdalgleish/bespoke-bullets">bespoke-bullets</a>
        ul
          li Bullet 1
          li Bullet 2
          li Bullet 3

      section
        h2 Syntax Highlighting
        h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        pre
          code.language-javascript.
            bespoke.from('article', [
              classes(),
              keys(),
              touch(),
              bullets('li, .bullet')
            ]);

      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-backdrop">bespoke-backdrop</a>

      section
        h2.bullet Just the beginning...
        br
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        br
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    script(src='build/build.js')
