doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Beberapa kota di Indonesia

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 Presentasi beberapa kota di Indonesia
      //Sibolga
      section(style="background-image:url('images/sibolga.jpg');")

        h1 KOTA SIBOLGA
          
      section
        ul
          li
            h2 Sejarah Kota Sibolga
          li Kota Sibolga didirikan pada tahun 1700 oleh Raja Luka Hutagalung gelar Tuanku Dorong
          li  Pada 12 oktober 1998 melalui diselenggarakanya seminar  sehari sebagai penetapan Hari Jadi Sibolga
      section
        h2.bullet Arti dan Lambang Kota Sibolga
      section  
        img(src='images/Lambang_Kota_Sibolga (1).png',style='width:500px; height:300px;')
      section  
        ul
          li Lambang berbentuk lingkaran dua tangkai daun kelapa dipertemukan bintang bersegi lima yang berwarna kuning.
          li Bintang bersudut lima menggambarkan sila-sila dari Pancasila
          li Lima Biji bambu runcing diikat dengan pita yang berwarna merah putih berisikan
          li Lima biji bambu runcing terikat pita yang merah putih membawakan jiwa kepahlawanan masyarakat dengan bersih dan berani dalam barisan kesatuan
          li Dua daun yang hijau kelapa membawakan cita-cita masyarakat yang selalu hidup rukun dan damai dengan Ridho Tuhan
          li Pulau-pulau bersama gunung-gunungnya membawakan jiwa masyarakat untuk membangun kotanya

      section
        h2 Tokoh-tokoh dari Kota Sibolga
      section
        h3 Mufidah jusuf kalla (istri presiden RI jusuf kalla)
        img(src='images/Mufidah_Kalla.jpg')
        
      section
        h3 Rinto Harahap ( Musisi Indonesia)
        img(src='images/B7bJtRJWHN.jpg')
      section
        h3 Tokoh lain bisa dilihat dari: http://id.wikipedia.org/wiki/Kota_Sibolga
     
      section
        h2 Kependudukan
      section  
        ul
          li Jumlah penduduk: 84.481 jiwa
          li Agama penduduk kota Sibolga : Mayoritas Islam,kristen,katolik dan budha
          li Suku penduduk kota sibolga : Mandailing, Batak Toba, Minangkabau, Melayu, Jawa, Tionghoa
          li Bahasa penduduk kota Sibolga : Bahasa Indonesia, Bahasa Batak, Bahasa Nias, dan Bahasa Minangkabau
      section
        h2 Objek Pariwisata di Kota Sibolga
      section
        h3 Pulau Mursala
        img(src='images/pulau mursala.jpg',style='width:500px; height:300px;')
      section  
        h3 Pulau Putri
        img(src='images/putri.jpg',style='width:500px; height:300px;')
      section  
        img(src='images/putri1.jpg',style='width:500px; height:300px;')
      section  
        h3 Pulau Poncan
        img(src='images/poncan.jpg',style='width:500px; height:300px;')
      section  
        h3 Pantai Bosur
        img(src='images/bosur.jpg',style='width:500px; height:300px;')
      section  
        img(src='images/bosur1.jpg',style='width:500px; height:300px;')
      section
        h2 Kuliner
      section
        h2 Ikan Sambam
        img(src='images/ikan sambam.jpg',style='width:500px; height:300px;')
      section
        h2 Ikan Panggang Geleng
        img(src='images/panggang geleng.jpg',style='width:500px; height:300px;')
      section
        h2 Ikan panggang Pacak
        img(src='images/panggang pacak.jpg',style='width:500px; height:300px;')
       section
         h2 Transportasi
       section
         h2 Bandar Udara Ferdinand Lumbantobing
         img(src='images/pinang-sori.jpg',style='width:500px; height:300px;')

       section
        ul
         li 
          h2 Transportasi Darat
         li 
          h2 Transportasi Laut
      section
        h2 Perekonomian
        ul
         li Masyarakat Sibolga lebih banyak bermata pencarian di perikanan.
         li Potensi utama perekonomian bersumber dari perikanan,pariwisata, jasa, perdagangan dan industri maritim. Hasil utama perikanan, antara lain, kerapu, tuna, kakap, kembung, bambangan, layang, sardines, lencam dan teri.
      section   
         h3 Gambar kegiatan perekonomian
         img(src='images/ekonomisibolga.jpg',style='width:500px; height:300px;')
      section   
         img(src='images/kegiatan_di_tangkahan_27651.jpg',style='width:500px; height:300px;')
      section   
         img(src='images/kegiatansibolga.jpg',style='width:500px; height:300px;')

          
    
        
      
        
          

    script(src='build/build.js')
