doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Persentase

    link(rel='stylesheet', type='text/css', href='build/build.css')
    
  body

    article

      section
        h1 Presentasi beberapa kota di Indonesia
        //yogyakarta
      section
        h1 Yogya Bung
        img(src ='images/yogya.jpg', style='width:600px; height:600px;')
      section
        h2 pendirian kota yogyakarta
        ul
         li kota yogyakarta di dirikan pada 13 Maret 1755
         li Sultan Hamengku Buwana I memproklamirkan berdirinya Kasultanan Ngayogyakarta Hadiningrat dengan ibukota Ngayogyakarta dan memiliki separuh dari wilayah Kerajaan Mataram

      section
        h1 lambang dan Arti nama Yogyakarta 
      section
        h2 lambang
        img(src ='images/180px-Yogyakarta_COA.svg.png', style='width:320px; height:380px;')

      section
          ul
             li yaitu Ayogya atau 'Ayodhya' yang berarti "kedamaian"(tanpa perang) 
             li yogya merujuk pada yodya atau yudha, yang berarti "perang")
             li arta yang berarti "baik



      section
        h1 Tokoh besar yogyakarta
      section
        h2 JENDRAL SOESILO SOEDARMAN
        img(src ='images/220px-Soesilo-S.png', style='width:350px; height:380px;')
      section
        h2 KI.HAJAR DEWANTORO
        img(src ='images/hajar_dewantoro1.jpg', style='width:350px; height:420px;')
      section
        h2 RADEN MAS MARGONO JOYOHADIKUSUMO
        img(src ='images/Margono.jpg', style='width:350px; height:380px;')
      section
        h2 JENDRAL GATOT SUBROTO
        img(src ='images/Jenderal-Gatot-Subroto.jpg', style='width:350px; height:420px;')

      section
        h1 perkembangan yogyakarta
      section
          ul
            li dimulai dari adanya kraton sebagai pusat pemerintahan
            li bermunculannya penguruan-perguruan tinggi ataupun swasta
            li jalan lintas kota
            li fasilitas 

      section
        h2 Kependudukan
        ul 
          li jumlah penduduk 3.452.390
          li proporsi 1.705.404 laki-laki
          li  1.746.986 perempuan
      sectiion
        h2 bahasa yang digunakan masyarakat
        ul
          li Bahasa jawa ngoko (kasar)
          li Bahasa jawa madya (biasa)
          li Bahasa jawa krama (halus)
          li Penduduk DIY mayoritas beragama Islam yaitu sebesar 90,96%, selebihnya beragama Kristen, Katholik, Hindu, Budha
        

      section
        h1 Objek wisata kota Yogyakarta
      section
        h2 candi borobudur
        img(src ='images/borobudur.jpg', style='width:355px; height:450px;')
      section
        h2 candi prambanan
        img(src ='images/Prambanan.jpg', style='width:355px; height:500px;')
      section
        h2 pantai baron
        img(src ='images/pantai-baron1.jpg', style='width:355px; height:500px;')
      section
        h2 goa selarong
        img(src ='images/selarong.jpg', style='width:480px; height:500px;')

      section
        h2 Kuliner
      section
        h2  Gudeg Pawon
         img(src ='images/gudeg-pawon.jpg', style='width:450px; height:400px;')
      section
        h2 Nasi Goreng Beringharjo
         img(src ='images/nasi-goreng-beringharjo.jpg', style='width:450px; height:400px;')
      section
        h2 Sate Klathak
         img(src ='images/sate-klatak.jpg', style='width:450px; height:400px;')
      section
        h2 Kalimilk 
         img(src ='images/kalimilk-jogja.jpg', style='width:450px; height:400px;')

      section
        h2 Festifal tahunan
      section
        h2 Kesenian Yogyakarta
        img(src ='images/festival-kesenian-yogyakarta.jpg', style='width:480px; height:500px;')
      section
        h2 Layang-layang
        img(src ='images/festival-layang-layang.jpg', style='width:480px; height:500px;')
      section
        h2 asia tri yogyakarta
        img(src ='images/twit poster atj 2014.jpg', style='width:480px; height:500px;')




    script(src='build/build.js')