doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Hello World

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
<<<<<<< HEAD
        h1 bold Spasi

=======
        h1 Presentasi Mengenai Beberapa kota di Indonesia
        
	    //Jayapura
>>>>>>> 729c53349e6bd5176080c1c3cd5c3851167876a8
      section
        h2 Keyboard Interaction
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-keys">bespoke-keys</a>

      section
        h2 Touch Interaction
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-touch">bespoke-touch</a>

      section
        h2 Responsive Slides
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-scale">bespoke-scale</a>

      section
        h2 Bullet List
        h3.bullet Powered by <a href="https://github.com/markdalgleish/bespoke-bullets">bespoke-bullets</a>
        ul
          li Bullet 1
          li Bullet 2
          li Bullet 3

      section
        h2 Syntax Highlighting
        h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        pre
          code.language-javascript.
            bespoke.from('article', [
              classes(),
              keys(),
              touch(),
              bullets('li, .bullet')
            ]);

      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-backdrop">bespoke-backdrop</a>

      section
        h2.bullet Just the beginning...
        br
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        br
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

<<<<<<< HEAD
      // Jogjakarta
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h3 Jogja Bung
        ul
          li Sri Sultan Hamengkubuwana I (Bahasa Jawa: Sri Sultan Hamengkubuwono I), (lahir di Kartasura, 6 Agustus 1717 – meninggal di Yogyakarta, 24 Maret 1792 pada umur 74 tahun)
          li merupakan pendiri sekaligus raja pertama Kesultanan Yogyakarta yang memerintah tahun 1755 - 1792
          li Keraton Yogyakarta mulai didirikan oleh Sultan Hamengku Buwono I beberapa bulan pasca Perjanjian Giyanti pada tahun 1755
          li Nama Yogyakarta terambil dari dua kata, yaitu Ayogya atau '''Ayodhya''' yang berarti "kedamaian" (atau tanpa perang, a "tidak", yogya merujuk pada yodya atau yudha, yang berarti "perang"), dan Karta yang berarti "baik
          li tokoh besar yogyakerta : JENDRAL SOESILO SOEDARMAN,  JENDRAL YASIR HADIBROTO,PROF. DR. SOEMITRO JOYOHADIKUSUMO, RADEN MAS MARGONO JOYOHADIKUSUMO, JENDRAL GATOT SUBROTO
      section.emphatic-text(data-bespoke-backdrop='emphatic')    
         h3 perkembangan yogyakarta
          p
            li Pembentukan kota yogyakarta dimulai dari adanya kraton sebagai pusat pemerintahan
            li munculnya perguruan tinggi sebagai pusat pendidikan
            li di bangunnya jalan lintas dan fasilita kota 
          p  
       section.emphatic-text(data-bespoke-backdrop='emphatic')
          h3 jumlah penduduk yogyakarta
            li jumlah penduduk 3.452.390
            li proporsi 1.705.404 laki-laki
            li 1.746.986 perempuan
          p
            memiliki bahasa jawa moko(kasar), jawa madya (biasa), jawa krama(halus)
          p
          p
            mayoritas masyarakat beragama islam
          p
        section.emphatic-text(data-bespoke-backdrop='emphatic')
          h3 pariwisata yogyakarta
          p
            li 1.candi prambanan
            li 2.pantai parangtiris
            li 3.resor kaliruang
            li 4.malioboro
            li 5.keraton yogyakarta
            li 6.candi plaosan
            li 7.pantai baron
            li 8.goa selarong, dll
          p
    script(src='build/build.js')
=======
    script(src='build/build.js')
>>>>>>> 729c53349e6bd5176080c1c3cd5c3851167876a8
