doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Hello World

    link(rel='stylesheet', type='text/css', href='build/build.css')
    
  body

    article

      section
        h1 Presentasi beberapa kota di Indonesia
        //yogyakarta
      section
        h1 Yogya Bung
        img(src ='images/yogya.jpg')
      section
        h2 pendirian kota yogyakarta
        ul
         li kota yogyakarta di dirikan pada 13 Maret 1755
         li Sultan Hamengku Buwana I memproklamirkan berdirinya Kasultanan Ngayogyakarta Hadiningrat dengan ibukota Ngayogyakarta dan memiliki separuh dari wilayah Kerajaan Mataram

      section
        h1 lambang dan Arti nama Yogyakarta 
      section
        h2 lambang

      section
          ul
             li yaitu Ayogya atau 'Ayodhya' yang berarti "kedamaian"(tanpa perang) 
             li yogya merujuk pada yodya atau yudha, yang berarti "perang")
             li arta yang berarti "baik



      section
        h1 Tokoh besar yogyakarta
      section
        h2 JENDRAL SOESILO SOEDARMAN
      section
        h2 JENDRAL YASIR HADIBROTO
      section
        h2 RADEN MAS MARGONO JOYOHADIKUSUMO
      section
        h2 JENDRAL GATOT SUBROTO

      section
        h1 perkembangan yogyakarta
      section
          ul
            li dimulai dari adanya kraton sebagai pusat pemerintahan
            li bermunculannya penguruan-perguruan tinggi ataupun swasta
            li jalan lintas kota
            li fasilitas 

      section
        h2 Kependudukan
        ul 
          li jumlah penduduk 3.452.390
          li proporsi 1.705.404 laki-laki
          li  1.746.986 perempuan
      sectiion
        h2 bahasa yang digunakan masyarakat
        ul
          li Bahasa jawa ngoko (kasar)
          li Bahasa jawa madya (biasa)
          li Bahasa jawa krama (halus)
          li Penduduk DIY mayoritas beragama Islam yaitu sebesar 90,96%, selebihnya beragama Kristen, Katholik, Hindu, Budha
        

      section
        h1 Objek wisata kota Yogyakarta
      section
        h2 candi borobufur
      section
        h2 candi prambanan
      section
        h2 pantai baron
      section
        h2 goa selarong

      section
        h2 Kuliner
      section
        h2  Gudeg Pawon
      section
        h2 Nasi Goreng Beringharjo
      section
        h2 Sate Klathak
      section
        h2 Kalimilk 

      section
        h2 Festifal tahunan
      section
        h2 Kesenian Yogyakarta
      section
        h2 Layang-layang
      section
        h2 asia tri yogyakarta




    script(src='build/build.js')